/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}


a {
  text-decoration: none;
}

/* Ketik code Anda dibawah */
/* Untuk Header */

/* Untuk Content atas*/
.content {
  width: 1170px;
  margin:0 auto;
  padding: 0 15px;
}
.top-content {
  padding: 180px 0 100px 0;
  color: white;
  background-image: url(https://s3.amazonaws.com/pixpa.com/com/articles/1543483315-748683-reinhart-julian-1145947-unsplashjpg.png);
  background-size: cover;
  text-align: center;
}
.top-content h1 {
  font-size: 45px;
  opacity: 0.7;
  margin-bottom: 10px;
  letter-spacing: 5px;
}
.top-content p {
  opacity: 0.7;
  margin-bottom: 3px;
}

/* Untuk Content Tengah */
.middle-content {
  height: 500px;
  padding-bottom: 80px;
  text-align: center;
}
.animasi {
  padding-top: 60px;
  padding-bottom: 30px;
}
.animasi h2 {
  width: 100%;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {left:0px; top:0px;}
  50%  {left:200px; top:0px;}
  100% {left:0px; top:0px;}
}
ul {
  list-style: none;
  padding: 60px 0px;
  text-align: center;
}
li {
  height: 80px;
  line-height: 80px;
}
.flex-list {
  display: flex;
}
.flex-list li {
  flex: auto;
}
.content-1 p {
  font-size: 15px;
  color: red;
  display: inline-block;
  margin-top: 20px;
}
.img {
  width: 50%;
}
/* Untuk Footer*/

